{%  extends 'assetstracking/main.html' %}

<!DOCTYPE html> 
{% block content %}
	 {% if perms.user.add_employee %}
					<html>   
					<head> Wait!
						<title>HTML Redirect</title> 
						<meta http-equiv="refresh"
							content="0; url = subscriber/1/" /> 
					</head>
					</html>	

	 {% elif user.employee.employee_id == 1111 or perms.user.add_employee %}
       <li>Success}</li>
			<html> 
			  
			<head> 
				<title>HTML Redirect</title> 
				<meta http-equiv="refresh"
					content="1; url = employee/1111/" /> 
			</head> 
			  
			<body> 
				<h1 style="text-align:center;color:green;"> 
					 Wait 5 seconds
				</h1> 
				  
				<p style="text-align:center;"> 
					If your browser supports Refresh, 
					you'll be redirected to GeeksforGeeks 
					Homepage, in 5 seconds. 
				</p> 
			</body> 
			  
			</html> 
	 {% elif user.employee.employee_id == 2323 or perms.user.add_employee %}
	        <html>   
			<head> Wait!
				<title>HTML Redirect</title> 
				<meta http-equiv="refresh"
					content="1; url = employee/2323/" /> 
			</head>
            </html>			
     {% elif user.employee.employee_id == 3113 or perms.user.add_employee %}
	        <html>   
			<head> Wait!
				<title>HTML Redirect</title> 
				<meta http-equiv="refresh"
					content="1; url = employee/3113/" /> 
			</head>
            </html>	
	 {% else %}
       <li>Error</li>
	 {% endif %}

<h3>5 Seconds</h3>

{% endblock content %}

